@model ProductDetailsModel.AddToCartModel
@using Nop.Core.Domain.Orders
@if (!Model.DisableWishlistButton)
{
    var addToWishlistText = "";
    if (Model.UpdatedShoppingCartItemId > 0 && Model.UpdateShoppingCartItemType.HasValue && Model.UpdateShoppingCartItemType.Value == ShoppingCartType.Wishlist)
    {
        addToWishlistText = T("Products.Wishlist.AddToWishlist.Update").Text;
    }
    else
    {
        addToWishlistText = T("Products.Wishlist.AddToWishlist").Text;
    }
    <div class="add-to-wishlist">
        <button type="button" title="@addToWishlistText" id="add-to-wishlist-button-@Model.ProductId" class="button-2 add-to-wishlist-button" data-productid="@Model.ProductId" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new {productId = Model.ProductId, shoppingCartTypeId = (int) ShoppingCartType.Wishlist})', '#product-details-form');addtoWishlist(@Model.ProductId);">
           <img class="wish_@Model.ProductId " src="images/vuesaxlinearheart.svg" />
        </button>
    </div>

    <script>
        function addtoWishlist(id) {
         const $myIm =  $(".wish_" + id);
            $myIm.attr("src", function (i, val) {
                return  "images/heart_fill.png";
            });
            $myIm.addClass("new-wish")
        }
    </script>
}