.breadcrumb {
  text-align: center;
  background: #f4f4f4;
  border: none !important;
}

.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  background-color: #f4f4f4;
  border-radius: .25rem;
  padding: 0px;
  margin-bottom: 0px;
  padding-left: 28% !important;
  padding-top: 30px !important;
}

.side-2 {
  padding: 0px 20px;
}

