#small-search-box-form {
  display: flex;
  flex-grow: 1;
  margin-right: 20px;
  width: auto;
}

.user-adds {
  display: none;
  width: max-content;
  height: max-content;
  /*     background-color: #fff;
 */ border-radius: 10px;
  position: absolute;
  z-index: 110;
  left: 25%;
  /* border: 1px solid #383375; */
  top: 16%;
  overflow-y: scroll;
}

.u-ad {
  padding: 30px 30px 0px 30px;
  width: 100%;
}

  .u-ad:last-of-type {
    padding-bottom: 30px;
  }

.user-adds {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

  .user-adds::-webkit-scrollbar {
    display: none;
  }

.user-prof {
  width: max-content;
  height: max-content;
  position: absolute;
  top: 16%;
  right: 10%;
  z-index: 110;
}

.hide {
  display: none;
}

.search-input {
  width: -webkit-fill-available;
}

  .search-input input {
    width: -webkit-fill-available;
    background-color: transparent;
    border-color: transparent;
  }
