@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Services.Configuration
@using Nop.Services.Catalog

@inject CatalogSettings catalogSettings
@inject ISettingService settingService
@inject IStoreContext storeContext
@inject IWorkContext workContext
@inject Nop.Services.Catalog.IProductService catalogService

@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.AddReportAd").Text);
    //page class
   // NopHtml.AppendPageCssClassParts("html-subscription-checkout-page");
}
@inject IWorkContext workContext

@{
    var supportRtl = (await workContext.GetWorkingLanguageAsync()).Rtl;

    if (supportRtl)
    {
        NopHtml.AppendCssFileParts("~/Themes/MLM_2/Content/css/checkoutcomplete.rtl.css");

    }
    else
    {
        NopHtml.AppendCssFileParts("~/Themes/MLM_2/Content/css/checkoutcomplete.css");

    }
}



<div class="page registration-result-page">
    <div class="page-title">
        <h1>@T("Reports.Add")</h1>
    </div>
<div class="main">
   
    <section class="confirmation">
        <div class="success-message">
            <div class="component-333">
                <img class="check-icon"
                     loading="lazy"
                     alt=""
                     src="images/check.png" />

                <div class="success-shape"></div>
            </div>
        </div>
        <div class="ad-placement">
            <h2 class="your-ad-has">
                    @T("Reports.Added.message")

                </h2>
            @*  @{
                var prod = await catalogService.GetProductByIdAsync(ViewBag.adId);
            } *@

            @*   <a class="component-284" href="@(Url.RouteUrl<Product>(new {SeName = prod.SeName }))">
                <img class="vuesaxlinearsearch-normal-icon"
                     alt=""
                     src="images/vuesaxlinearsearchnormal.svg" />

                <b class="post-ad">View ad</b>
            </a> *@
                <a href="@(Url.RouteUrl("Homepage"))" class="submit-btn">
                    Done
                </a>
        </div>
    </section>
</div>

</div>