@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        <div class="customer-blocks">
            <div class="customer-block custom-register">
            <form class="wrapper" asp-route="PasswordRecovery" method="post">
                  
            <div asp-validation-summary="ModelOnly" class="message-error">
                        <img class="vuesaxlinearwarning-2-icon" loading="lazy" alt="" src="images/vuesaxlinearwarning2.svg" style="
    margin-right: 15px;
">
            </div>
            <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
                    <div class="input-fields">
                        <div class="email-field">
                            <div class="email-label-container">
                                <div class="label-email">Email</div>
                            </div>
                            <div class="component-66">
                                <img class="vuesaxlinearuser-icon" alt="" src="images/vuesaxlinearuser.svg">

                                <input asp-for="Email" class="email-placeholder" placeholder="Enter Email" type="email" />
                            </div>
                        </div>

                    </div>
                    <div class="buttons-container">
                        <button type="submit" name="send-email" class="sign-in-button" id="signInButton">
                            <b class="sign-in">@T("Account.PasswordRecovery.RecoverButton")</b>
                        </button>
                    </div>
          @*   <div class="buttons">
                <button type="submit" name="send-email" class="button-1 password-recovery-button">@T("Account.PasswordRecovery.RecoverButton")</button>
            </div> *@
        </form>        
    </div>
</div>
    </div>
</div>